<!DOCTYPE html>

<div id="navigation-bar" class="h-container">
    <a href="/"><img src="assets/icons/rooksLogo.png" alt="logo"></a>


    <a href="/test2">Test2</a>
    <a href="/test">Test</a>

    <a href="/win-rates/personal">Win Rates</a>
    <a href="/runes/value-compare?champion=Hwei&rune=8229&rune=8214&rune=8369">Runes</a>
    <a href="/profile-icons/all">Icons</a>
    <a href="/match/live-game">Live Game</a>
</div>