<!DOCTYPE html>

<div id="navigation-bar" class="h-container accent-dom-3">
  <a href="/">
    <img src="assets/icons/rooksLogo.png" alt="logo">
  </a>

  <a href="/champions/win-rates">Champions</a>
  <a href="/teams/win-rates">Teams</a>
  <a href="/stats/anivia">Stats</a>
  <a href="/random-icon/favorites">Champies</a>
  <a href="/arena/selection">Arena</a>

</div>