<!DOCTYPE html>
<html lang="en">

<head>
<title>Live Game</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Live Game">

<link rel="icon" href="assets/icons/rooksIconGG.png">
<link rel="stylesheet" href="styles.css">
<script src="plugins/jquery-3.4.1.min.js"></script>

<style>

body {
	height: calc(100vh - 56px);
	gap: 16px;
}

body > * {
	width: 60vw;
}

/*main { width: 60vw; }
main > * {
	width: 100%;
}*/

body > header {
	height: 64px;
	justify-content: space-around;
/*		background-color: rgba(128, 128, 128, 0.25);*/
}

.bans {
	gap: 8px;
}

.frame {
	position: relative;
	width: 32px;
	aspect-ratio: 1 / 1;
	border-radius: 4px;
}

.bans .frame { width: 32px; }

.bans img, .prev-match img {
	filter: contrast(110%) grayscale(100%);
	width: 100%;
	border-radius: 4px;
}

.blue .frame { background-color: var(--img-bg-blue); }
.red .frame { background-color: var(--img-bg-red); }

.bans.blue .frame { border: 1px solid var(--win-blue100); }
.bans.red .frame { border: 1px solid var(--loss-red100); }
.blue { color: var(--win-blue100); }
.red { color: var(--loss-red100); }




body > div.row {
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	height: 128px;
	gap: 32px;
	background: linear-gradient(90deg, rgba(40,52,78,1) 0%, rgba(40,52,78,1) 45%, rgba(89,52,59,1) 55%, rgba(89,52,59,1) 100%);
}

div.row .role {
	position: absolute;
	top: calc(50% - 24px);
	left: calc(50% - 24px);
	width: 48px;
	height: 48px;
	background-image: url("assets/icons/svgs/role/role-TOP.svg");
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

ul {
/*	font-family: Roboto Medium;*/
	gap: 8px;
	z-index: 1;
}

/*li { line-height: 1.5em; }*/
/*li.tall { line-height: 2em; }*/

span.icon {
	display: inline-block;
	height: 2em;
	width: 2em;
	background-repeat: no-repeat;
	background-position: top 0 left 0;
	background-size: cover;
	vertical-align: top;
}

span.icon.rank { margin-right: 4px; }

/*li > span.dull { font-family: Roboto; }*/

li > .winrate-bar {
	width: 10em;
	height: 8px;
	background-color: rgba(0, 0, 0, 0.35);
}

div.dd-center, div.dd-centwo {
    width: 256px;
    height: 100%;
/*    background-position: bottom 80% right 80%;*/
    background-position: bottom 80% right 50%;
    background-size: 120% auto;
    -webkit-mask-image: linear-gradient( 90deg,
        rgba(0,0,0,1) 0%,
        rgba(0,0,0,1) 75%,
        rgba(0,0,0,0) 100%
    );

    background-blend-mode: luminosity;
    filter: brightness(100%) grayscale(25%) contrast(100%);
    background-color: rgba(83, 131, 232, 0.3);
}

div.dd-centwo {
/*	transform: scaleX(-1);*/
	position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-color: rgba(232, 64, 87, 0.3);
    -webkit-mask-image: linear-gradient( 90deg,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,1) 25%,
        rgba(0,0,0,1) 100%
    );
}



div.row .roons {
	height: 100%;
	width: 126px;
	background-image: url("assets/icons/roons.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

div.prev-match {
	position: absolute;
	bottom: 4px;
	left: 4px;
	gap: 4px;
	/*background-color: var(--win-blue200);
	padding: 2px;
	border-radius: 2px;*/
}

.prev-match .frame {
	width: 24px;
}

.prev-match .frame.win { border: 1px solid var(--win-blue100); }
.prev-match .frame.loss { border: 1px solid var(--loss-red100); }



.frame > svg {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 12px;
	transform: translate(-50%, 50%);
}


div.summoner {
	height: 100%;
	gap: 4px 8px;
	width: 192px;
	/*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    padding: 8px;
    background: linear-gradient( 90deg,
        rgba(0,0,0,0.6) 50%,
        rgba(0,0,0,0) 100%
    );

    display: grid;
    grid-template-columns: 28px 1fr; /*1fr 2fr*/
    grid-template-rows: 28px 28px 1fr; /* 168px */
    grid-template-areas:
    "spell1 info"
    "spell2 info"
    ". .";
}

ul.player-info {
	z-index: 1;
	grid-area: info;
	gap: 6px;
}

div.summoner img {
	width: 100%;
	z-index: 1;
	border-radius: 4px;
}

li > a { color: #C8C8C8; }

/*ul.summoner li.h-container { gap: 8px; }
ul.summoner li.h-container img {
	width: 32px;
	border-radius: 4px;
}*/

</style>

</head>





<body>

<%- include("partials/navigation-bar") %>

<!-- <main> -->
	<header class="h-container">
		<h3 class="blue">Blue Team</h3>
		<div class="blue bans h-container">
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Aatrox.png"></div>
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Ahri.png"></div>
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Akali.png"></div>
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Akshan.png"></div>
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Kassadin.png"></div>
		</div>

		<div class="red bans h-container">
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Aatrox.png"></div>
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Ahri.png"></div>
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Akali.png"></div>
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Akshan.png"></div>
			<div class="frame"><img src="/assets/dragontail/champion/squarecrop/Kassadin.png"></div>
		</div>
		<h3 class="red">Red Team</h3>
	</header>


	<% for (let i = 0; i < 5; i++) { %>
	<div class="row h-container">
		
		<div class="dd-center" style="background-image: url('/assets/dragontail/champion/centered/Hwei_0.jpg');"></div>
		<div class="dd-centwo" style="background-image: url('/assets/dragontail/champion/centered/Syndra_0.jpg');"></div>
		<div class="role"></div>

		<div class="prev-match h-container">
			<div class="frame win"><img src="/assets/dragontail/champion/squarecrop/Aatrox.png"></div>
			<div class="frame win"><img src="/assets/dragontail/champion/squarecrop/Ahri.png"></div>
			<div class="frame loss"><img src="/assets/dragontail/champion/squarecrop/Akali.png"></div>
			<div class="frame win"><img src="/assets/dragontail/champion/squarecrop/Akshan.png"></div>
			<div class="frame loss"><img src="/assets/dragontail/champion/squarecrop/Kassadin.png"></div>
			<div class="frame loss"><img src="/assets/dragontail/champion/squarecrop/Akali.png"></div>
			<div class="frame loss"><img src="/assets/dragontail/champion/squarecrop/Akshan.png"></div>
			<div class="frame win"><img src="/assets/dragontail/champion/squarecrop/Kassadin.png"></div>
		</div>
		


		<div class="summoner">
			<img src="/assets/dragontail/spell/SummonerFlash.png">
			<img src="/assets/dragontail/spell/SummonerTeleport.png">
			<ul class="player-info">
				<li class="strong"><a target="_blank" href="https://www.op.gg/summoners/na/rRooks-NA1">Skylar Vox<span class="dull">&nbsp;#NA1</span></a></li>
				<li>Level 420</li>
				<li>Hwei</li>
			</ul>
		</div>

		<ul class="center">
			<li class="tall"><span class="icon rank" style="background-image: url('assets/icons/svgs/rank/Emerald.svg');"></span> Emerald IV <span class="dull">&nbsp;(35LP)</span></li>
			<li><div class="winrate-bar">
		        <div style="width:69%; background-color: #0070dd;"></div>
		       	<!-- a8a8a8 / epic ba67f2 / leg ff8000 -->
		    </div></li>
			<li><span style="color: #0070dd;">54.4<span class="dull">%</span></span> &nbsp;(37W&nbsp;&nbsp;31L)</li>
		</ul>

		<div class="roons"></div>

		<div class="roons" style="margin-left:100px;"></div>
	</div>
	<% } %>

<!-- </main> -->


<script>

	$(document).ready(function() {
		$(".bans .frame").append("<svg viewBox='0 0 12 12'><path fill='none' stroke='black' stroke-miterlimit='20' stroke-width='4' d='M5.996 10.004c-.44 0-.87-.076-1.29-.228a4.434 4.434 0 01-1.17-.636L9.14 3.536c.272.352.484.74.636 1.164a3.901 3.901 0 01-.324 3.312 3.886 3.886 0 01-1.44 1.44 3.901 3.901 0 01-2.016.552zM2.85 8.454a4.434 4.434 0 01-.636-1.17 3.763 3.763 0 01-.228-1.29 3.9 3.9 0 01.552-2.016 3.887 3.887 0 011.44-1.44 3.901 3.901 0 013.312-.324 4.22 4.22 0 011.164.636zM6 11c.905 0 1.747-.228 2.524-.685a4.92 4.92 0 001.79-1.791A4.895 4.895 0 0011 6c0-.905-.228-1.747-.685-2.524a4.92 4.92 0 00-1.791-1.79A4.895 4.895 0 006 1c-.897 0-1.735.228-2.512.685a5.113 5.113 0 00-1.803 1.803A4.874 4.874 0 001 6c0 .897.228 1.735.685 2.512a5.015 5.015 0 001.791 1.803A4.895 4.895 0 006 11z'></path><path fill='#d8d8d8' d='M5.996 10.004c-.44 0-.87-.076-1.29-.228a4.434 4.434 0 01-1.17-.636L9.14 3.536c.272.352.484.74.636 1.164a3.901 3.901 0 01-.324 3.312 3.886 3.886 0 01-1.44 1.44 3.901 3.901 0 01-2.016.552zM2.85 8.454a4.434 4.434 0 01-.636-1.17 3.763 3.763 0 01-.228-1.29 3.9 3.9 0 01.552-2.016 3.887 3.887 0 011.44-1.44 3.901 3.901 0 013.312-.324 4.22 4.22 0 011.164.636zM6 11c.905 0 1.747-.228 2.524-.685a4.92 4.92 0 001.79-1.791A4.895 4.895 0 0011 6c0-.905-.228-1.747-.685-2.524a4.92 4.92 0 00-1.791-1.79A4.895 4.895 0 006 1c-.897 0-1.735.228-2.512.685a5.113 5.113 0 00-1.803 1.803A4.874 4.874 0 001 6c0 .897.228 1.735.685 2.512a5.015 5.015 0 001.791 1.803A4.895 4.895 0 006 11z'></path></svg>")
	})

</script>


</body>

</html>