<!DOCTYPE html>
<html lang="en">

<head>
<title>TEST 2</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Testing page">

<link rel="icon" href="assets/icons/rooksIconGG.png">
<!-- <link rel="stylesheet" href="styles.css"> -->

<style>

* {
    box-sizing: border-box;
    margin: 0px;
}
*::-webkit-scrollbar { display: none; }

body {
	padding: 4px;
	width: 100vw;
	margin: 0px;
}

main {
	background-color: white;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	gap: 4px;
	align-items: center;
}

main > div {
	width: 100%;
	aspect-ratio: 1 / 1;
	background-color: black;
	position: relative;
}

main > div > div {
	color: white;
	width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 475px;
	overflow: hidden;
}

@font-face { font-family: Roboto; src: url(assets/fonts/Roboto-Regular.ttf); }

@font-face {
    font-family: Roboto Flex;
    /*font-optical-sizing: auto; /* opsz optical size */
	font-weight: 100 1000; /* wght weight */
	/*font-style: normal; /* slnt slant; oblique 14deg */
    /*font-stretch: 100%; /* wdth width */
    src: url(assets/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf);
}

.default {
/*	font-family: Roboto;*/
	font-family: Roboto Condensed;
	color: hotpink;
}

/* default
font-variation-settings:
"opsz" 8,
"wght" 400,
"wdth" 100,
"GRAD" 0,
"slnt" 0,
"XTRA" 445,
"XOPQ" 89,
"YOPQ" 79,
"YTAS" 750,
"YTDE" -203,
"YTFI" 738,
"YTLC" 514,
"YTUC" 712;*/

/* CONDENSED
font-variation-settings:
"opsz" 30,
"wght" 400,
"wdth" 80,
"GRAD" 70,
"slnt" 0,
"XTRA" 460,
"XOPQ" 100,
"YOPQ" 79,
"YTAS" 770,
"YTDE" -203,
"YTFI" 738,
"YTLC" 560,
"YTUC" 712;*/

.flex {
	font-family: Roboto Flex;
	font-weight: 400;
	font-stretch: 80%;
    font-variation-settings:
		"opsz" 30, 		/*	Optical Size		   8 > 144 	*/
		/*"wght" 400, 	/*	Weight			 100 > 1000		*/
		/*"wdth" 80, 	/*	Width			  25 > 151 		*/
		"GRAD" 70, 		/*	Grade			-200 > 150 		*/
		"slnt" 0, 		/*	Slant			 -10 >   0 		*/
		"XTRA" 460, 	/*	Counter Width	 323 > 603 		*/
		"XOPQ" 100, 		/*	Thick Stroke		  27 > 175 	*/
		"YOPQ" 79, 		/*	Thin Stroke 		  25 > 135 	*/
		"YTAS" 770, 	/*	Ascender Height	 649 > 854 		*/
		"YTDE" -203, 	/*	Descender Depth	-305 > -98 		*/
		"YTFI" 738, 	/*	Figure Height	 560 > 788 		*/
		"YTLC" 560, 	/*	Lowercase Height	 416 > 570 	*/
		"YTUC" 712; 	/*	Uppercase Height	 528 > 760 	*/

	opacity: 75%;
	color: cyan;
	transform: translate(0px, 1%);
}
main > div > div { font-size: 400px; }

</style>

</head>


<body>

<main>

<div><div class="default">A</div><div class="flex">A</div></div>
<div><div class="default">B</div><div class="flex">B</div></div>
<div><div class="default">C</div><div class="flex">C</div></div>
<div><div class="default">D</div><div class="flex">D</div></div>
<div><div class="default">E</div><div class="flex">E</div></div>
<div><div class="default">F</div><div class="flex">F</div></div>
<div><div class="default">G</div><div class="flex">G</div></div>
<div><div class="default">H</div><div class="flex">H</div></div>
<div><div class="default">I</div><div class="flex">I</div></div>
<div><div class="default">J</div><div class="flex">J</div></div>
<div><div class="default">K</div><div class="flex">K</div></div>
<div><div class="default">L</div><div class="flex">L</div></div>
<div><div class="default">M</div><div class="flex">M</div></div>
<div><div class="default">N</div><div class="flex">N</div></div>
<div><div class="default">O</div><div class="flex">O</div></div>
<div><div class="default">P</div><div class="flex">P</div></div>
<div><div class="default">Q</div><div class="flex">Q</div></div>
<div><div class="default">R</div><div class="flex">R</div></div>
<div><div class="default">S</div><div class="flex">S</div></div>
<div><div class="default">T</div><div class="flex">T</div></div>
<div><div class="default">U</div><div class="flex">U</div></div>
<div><div class="default">V</div><div class="flex">V</div></div>
<div><div class="default">W</div><div class="flex">W</div></div>
<div><div class="default">X</div><div class="flex">X</div></div>
<div><div class="default">Y</div><div class="flex">Y</div></div>
<div><div class="default">Z</div><div class="flex">Z</div></div>
<div><div class="default">a</div><div class="flex">a</div></div>
<div><div class="default">b</div><div class="flex">b</div></div>
<div><div class="default">c</div><div class="flex">c</div></div>
<div><div class="default">d</div><div class="flex">d</div></div>
<div><div class="default">e</div><div class="flex">e</div></div>
<div><div class="default">f</div><div class="flex">f</div></div>
<div><div class="default">g</div><div class="flex">g</div></div>
<div><div class="default">h</div><div class="flex">h</div></div>
<div><div class="default">i</div><div class="flex">i</div></div>
<div><div class="default">j</div><div class="flex">j</div></div>
<div><div class="default">k</div><div class="flex">k</div></div>
<div><div class="default">l</div><div class="flex">l</div></div>
<div><div class="default">m</div><div class="flex">m</div></div>
<div><div class="default">n</div><div class="flex">n</div></div>
<div><div class="default">o</div><div class="flex">o</div></div>
<div><div class="default">p</div><div class="flex">p</div></div>
<div><div class="default">q</div><div class="flex">q</div></div>
<div><div class="default">r</div><div class="flex">r</div></div>
<div><div class="default">s</div><div class="flex">s</div></div>
<div><div class="default">t</div><div class="flex">t</div></div>
<div><div class="default">u</div><div class="flex">u</div></div>
<div><div class="default">v</div><div class="flex">v</div></div>
<div><div class="default">w</div><div class="flex">w</div></div>
<div><div class="default">x</div><div class="flex">x</div></div>
<div><div class="default">y</div><div class="flex">y</div></div>
<div><div class="default">z</div><div class="flex">z</div></div>
<div><div class="default">1</div><div class="flex">1</div></div>
<div><div class="default">2</div><div class="flex">2</div></div>
<div><div class="default">3</div><div class="flex">3</div></div>
<div><div class="default">4</div><div class="flex">4</div></div>
<div><div class="default">5</div><div class="flex">5</div></div>
<div><div class="default">6</div><div class="flex">6</div></div>
<div><div class="default">7</div><div class="flex">7</div></div>
<div><div class="default">8</div><div class="flex">8</div></div>
<div><div class="default">9</div><div class="flex">9</div></div>
<div><div class="default">0</div><div class="flex">0</div></div>
<div><div class="default">`</div><div class="flex">`</div></div>
<div><div class="default">-</div><div class="flex">-</div></div>
<div><div class="default">=</div><div class="flex">=</div></div>
<div><div class="default">~</div><div class="flex">~</div></div>
<div><div class="default">!</div><div class="flex">!</div></div>
<div><div class="default">@</div><div class="flex">@</div></div>
<div><div class="default">#</div><div class="flex">#</div></div>
<div><div class="default">$</div><div class="flex">$</div></div>
<div><div class="default">%</div><div class="flex">%</div></div>
<div><div class="default">^</div><div class="flex">^</div></div>
<div><div class="default">&</div><div class="flex">&</div></div>
<div><div class="default">*</div><div class="flex">*</div></div>
<div><div class="default">(</div><div class="flex">(</div></div>
<div><div class="default">)</div><div class="flex">)</div></div>
<div><div class="default">_</div><div class="flex">_</div></div>
<div><div class="default">+</div><div class="flex">+</div></div>

</main>


</body>

</html>