<!DOCTYPE html>
<html lang="en">

<head>
<title>TEST 1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="Rooks">
<meta name="description" content="Testing page">

<link rel="icon" href="assets/icons/rooksIconGG.png">
<!-- <link rel="stylesheet" href="styles.css"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap" rel="stylesheet">

<style>

	body { background-color: black; }

	main {
		font-size: 64px;
		gap: 1em;
		white-space: nowrap;
	}

	main > div {
		position: relative;
		width: 100%;
		height: 1em;
	}

	div.small { font-size: 24px; }
	div.med { font-size: 40px; }
	div.big { font-size: 64px; }
	div.huge { font-size: 96px; }
	div.massive { font-size: 700px; }
	div.dam { font-size: 100vh; }

	main > div > div {
		position: absolute;
		top: 0;
		left: 0;
	}

@font-face { font-family: Roboto; src: url(assets/fonts/Roboto-Regular.ttf); }

.default {
	font-family: Roboto;
	color: hotpink;
}

@font-face {
    font-family: Roboto Test;
    /*font-optical-sizing: auto; /* opsz optical size */
	font-weight: 100 1000; /* wght weight */
	/*font-style: normal; /* slnt slant; oblique 14deg */
    /*font-stretch: 100%; /* wdth width */
    src: url(assets/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf);
}
@font-face {
    font-family: Roboto two;
    /*font-optical-sizing: auto; /* opsz optical size */
	font-weight: 100 1000; /* wght weight */
	/*font-style: normal; /* slnt slant; oblique 14deg */
    /*font-stretch: 100%; /* wdth width */
    src: url(assets/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf);
}

.roboto-flex-test {
	color: red;
	font-family: Roboto two;
	/*	font-optical-sizing: auto;*/
/*    color: blue;
	opacity: 75%;
	font-family: "Roboto Flex", system-ui;

	font-weight: 400;
	font-style: normal;
	font-variation-settings:
		"opsz" 8,
		"wdth" 100,
		"GRAD" 0,
		"slnt" 0,
		"XTRA" 468,
		"XOPQ" 96,
		"YOPQ" 79,
		"YTAS" 750,
		"YTDE" -203,
		"YTFI" 738,
		"YTLC" 514,
		"YTUC" 712;*/

    visibility: hidden;
}

.roboto-flex-custom {
	color: cyan;
	font-family: Roboto Test;

	font-weight: 400;
    font-variation-settings:
		"opsz" 8, 		/*	Optical Size		   8 > 144 	*/
		/*"wght" 400, 	/*	Weight			 100 > 1000		*/
		"wdth" 100, 	/*	Width			  25 > 151 		*/
		"GRAD" 0, 		/*	Grade			-200 > 150 		*/
		"slnt" 0, 		/*	Slant			 -10 >   0 		*/
		"XTRA" 445, 	/*	Counter Width	 323 > 603 		*/
		"XOPQ" 89, 		/*	Thick Stroke		  27 > 175 	*/
		"YOPQ" 79, 		/*	Thin Stroke 		  25 > 135 	*/
		"YTAS" 750, 	/*	Ascender Height	 649 > 854 		*/
		"YTDE" -203, 	/*	Descender Depth	-305 > -98 		*/
		"YTFI" 738, 	/*	Figure Height	 560 > 788 		*/
		"YTLC" 514, 	/*	Lowercase Height	 416 > 570 	*/
		"YTUC" 712; 	/*	Uppercase Height	 528 > 760 	*/
	opacity: 75%;
	transform: translate(0px, 2%);
}

.dam { height: 100vh; }

</style>

</head>


<body>

<main>

	<div class="small">
		<div class="default">Lorem ipsum dolor sit amet</div>
		<div class="roboto-flex-custom">Lorem ipsum dolor sit amet</div>
		<div class="roboto-flex-test">Lorem ipsum dolor sit amet</div>
	</div>

	<div class="med">
		<div class="default">Lorem ipsum dolor sit amet</div>
		<div class="roboto-flex-custom">Lorem ipsum dolor sit amet</div>
		<div class="roboto-flex-test">Lorem ipsum dolor sit amet</div>
	</div>

	<div class="big">
		<div class="default">Lorem ipsum dolor sit amet</div>
		<div class="roboto-flex-custom">Lorem ipsum dolor sit amet</div>
		<div class="roboto-flex-test">Lorem ipsum dolor sit amet</div>
	</div>

	<div class="huge">
		<div class="default">Lorem ipsum dolor sit amet</div>
		<div class="roboto-flex-custom">Lorem ipsum dolor sit amet</div>
		<div class="roboto-flex-test">Lorem ipsum dolor sit amet</div>
	</div>

	<div class="massive">
		<div class="default">hlorem ipsum dolor sit amet</div>
		<div class="roboto-flex-custom">hlorem ipsum dolor sit amet</div>
		<div class="roboto-flex-test">hlorem ipsum dolor sit amet</div>
	</div>

	<div class="small">
		<!-- <div class="default">HLOREM ipsum dolor sit amet</div><div class="roboto-flex-custom">HLOREM ipsum dolor sit amet</div> -->
		<!-- <div class="default">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=`!@#$%^&*()_+</div><div class="roboto-flex-custom">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=`!@#$%^&*()_+</div> -->
		<div class="default">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz1234567890-=`!@#$%^&*()_+</div><div class="roboto-flex-custom">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz1234567890-=`!@#$%^&*()_+</div>
	</div>

	<div class="med">
		<!-- <div class="default">HLOREM ipsum dolor sit amet</div><div class="roboto-flex-custom">HLOREM ipsum dolor sit amet</div> -->
		<!-- <div class="default">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=`!@#$%^&*()_+</div><div class="roboto-flex-custom">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=`!@#$%^&*()_+</div> -->
		<div class="default">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz1234567890-=`!@#$%^&*()_+</div><div class="roboto-flex-custom">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz1234567890-=`!@#$%^&*()_+</div>
	</div>

	<div class="big">
		<!-- <div class="default">HLOREM ipsum dolor sit amet</div><div class="roboto-flex-custom">HLOREM ipsum dolor sit amet</div> -->
		<!-- <div class="default">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=`!@#$%^&*()_+</div><div class="roboto-flex-custom">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=`!@#$%^&*()_+</div> -->
		<div class="default">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz1234567890-=`!@#$%^&*()_+</div><div class="roboto-flex-custom">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz1234567890-=`!@#$%^&*()_+</div>
	</div>

	<div class="huge">
		<!-- <div class="default">HLOREM ipsum dolor sit amet</div><div class="roboto-flex-custom">HLOREM ipsum dolor sit amet</div> -->
		<!-- <div class="default">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=`!@#$%^&*()_+</div><div class="roboto-flex-custom">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=`!@#$%^&*()_+</div> -->
		<div class="default">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz1234567890-=`!@#$%^&*()_+</div><div class="roboto-flex-custom">ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890abcdefghijklmnopqrstuvwxyz1234567890-=`!@#$%^&*()_+</div>
	</div>

	<!-- ABCDEFGHIJKLMNOPQRSTUVWXYZ -->
	<!-- abcdefghijklmnopqrstuvwxyz -->
</main>


</body>

</html>