/* Tags */
* {
    box-sizing: border-box;
    margin: 0px;
    color: #b8b8b8;
    font: 12px Roboto;
    line-height: 1em;
}

*::-webkit-scrollbar { display: none; }

body {
    min-height: calc(100vh - 56px);
    padding: 32px 32px 64px 32px;
    margin-top: 56px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50vw;
    padding: 16px;
    border-radius: 4px;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat Semi Bold;
    font-variant: small-caps;
    color: white;
}

h1 {font-size: 48px;}

h2 {font-size: 32px;}

h3 {font-size: 16px;}

p {}

span {}

a {
    text-decoration: none;
}

header {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #484848;
    padding: 0px 0px 16px 0px;
}

footer {
/*    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 95%;
    border-top: 1px solid #484848;
    padding: 16px 0px 0px 0px;*/
}

footer > a {
/*    padding: 8px 16px;
    font-size: 16px;
    font-family: Montserrat Medium;*/
}

div {}

ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

ul.center {
    align-items: center;
}

ul.right {
    align-items: end;
}

li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

li.strong {
    font-family: Roboto Black;
    font-size: 14px;
}

li.break {
    margin-bottom: auto;
}

li.legendary {
    color: #ff8000;
}

li.epic {
    color: #ba67f2;
}

/*li.boosted {
    color: #ff3333;
}*/

label {}

button {}
button:disabled {}

select {} /* dropdown menu */
option {} /* dropdown option */

input {
    background-repeat: no-repeat;
}

input:invalid {}

input[type=text] { /* "search bar" */
    color: white;
    font-family: Roboto Medium;
    font-size: 16px;
    background-image: url("assets/icons/searchIcon.png");
    background-size: 20px 20px;
    background-position: 8px 50%;
    padding: 8px 8px 8px 36px;
    border: none;
    border-radius: 4px;
}

input[type=text]:focus {
    outline-color: #484848;
}

input[type=text]:disabled {}

input[type=checkbox] {
    appearance: none;
    cursor: pointer;
}

input[type=checkbox]:checked {
    background-image: url("assets/icons/checkmark.png");
    background-position: center;
    background-size: auto 100%;
}





/* Navigation Bar */
#navigation-bar {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px;
}

#navigation-bar img {
    height: 100%;
}

#navigation-bar > a {
    font: small-caps 16px Montserrat Bold;
    position: relative;
    padding: 8px 16px;
    color: white;
}

#navigation-bar > a:hover {
    color: #989898;
}

#navigation-bar > a:first-of-type {
    height: 90%;
    margin-left: 8px;
    margin-right: auto;
    padding: 0px;
}

#navigation-bar > a ~ a:not(:nth-child(2)) {
    border-left: 1px solid #484848;
}





/* Row Elements */
.row-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

.row-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 2px;
}

.row-item img {
    height: 100%;
    border-radius: 4px;
}

.row-rank {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
    font-family: Roboto Bold;
    color: #989898;
}

.row-rank + img {
    margin-left: 32px;
}

.winrate-bar {
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;
    font-family: Roboto Medium;
    color: #d8d8d8;
}

.winrate-bar > div {
    padding-left: 8px;
    height: 100%;
    display: inherit;
    align-items: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.winrate-bar > span {
    margin: 0px 8px 0px auto;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}


/* Flex Elements */
.grid-container {
    display: grid;
}

.grid-container > img {
    width: 100%;
}


.h-container {
    display: flex;
    align-items: center;
}

.v-container {
    display: flex;
    flex-direction: column;
}


.v-flip {
  transform: scaleY(-1);
}

.h-flip {
  transform: scaleX(-1);
}

.dd-center {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}



 





/* Purple */
body { background-color: var(--purple100); }
.frame { background-color: var(--purple100); }
main { background-color: var(--purple200); }

#navigation-bar { background-color: var(--purple300); }
.aug-row { background-color: var(--purple300); }

#general-info { background-color: var(--purple200); }
#champion-grid { background-color: var(--purple200); }
.row-container { background-color: var(--purple200); }
.row-container > .row-item:nth-child(odd) { background-color: var(--purple400); }

input { background-color: var(--purple200); }
input[type=checkbox]:checked { background-color: #444444; }

.winrate-bar { background-color: #E84057; }
.winrate-bar > div { background-color: #5383E8; }


/* Variables */
:root {
    --purple100: #19171f;
    --purple200: #23202e;
    --purple300: #2d283e;
    --purple400: #363048;
    --purple500: #413c57;
    --purple600: #4e4765;
    --purple700: #564f70;
    --iceWhite: #d0d7e1;

    --win-blue100: #5383e8;
    --win-blue200: #28344e;
    --loss-red100: #e84057;
    --loss-red200: #59343b;
}

/* Fonts */
@font-face { font-family: Montserrat Light;         src: url(assets/fonts/Montserrat-Light.ttf); }
@font-face { font-family: Montserrat Regular;       src: url(assets/fonts/Montserrat-Regular.ttf); }
@font-face { font-family: Montserrat Medium;        src: url(assets/fonts/Montserrat-Medium.ttf); }
@font-face { font-family: Montserrat Semi Bold;     src: url(assets/fonts/Montserrat-SemiBold.ttf); }
@font-face { font-family: Montserrat Bold;          src: url(assets/fonts/Montserrat-Bold.ttf); }
@font-face { font-family: Montserrat Extra Bold;    src: url(assets/fonts/Montserrat-ExtraBold.ttf); }
@font-face { font-family: Roboto;                   src: url(assets/fonts/Roboto-Regular.ttf); }
@font-face { font-family: Roboto Medium;            src: url(assets/fonts/Roboto-Medium.ttf); }
@font-face { font-family: Roboto Bold;              src: url(assets/fonts/Roboto-Bold.ttf); }
@font-face { font-family: Roboto Black;             src: url(assets/fonts/Roboto-Black.ttf); }