/* Tags */
* {
    box-sizing: border-box;
    margin: 0px;
    line-height: 1em;
}

*::-webkit-scrollbar { display: none; }

html {
/*    font: 12px Roboto;*/
    font: 12px Roboto Flex;
    font-weight: 400;
    color: #b8b8b8;
}

body {
    min-height: calc(100vh - 56px);
    background-color: var(--purple100);
    padding: 32px 32px 64px 32px;
    margin-top: 56px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50vw;
    background-color: var(--purple200);
    padding: 16px;
    border-radius: 4px;
}

img {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat Semi Bold;
    color: white;
}

h1 { font-size: 48px; }

h2 { font-size: 32px; }

h3 { font-size: 16px; }

p {}

span {
    font-family: inherit;
    font-size: inherit;
}

li.dull, span.dull { filter: brightness(75%); /* grayscale(25%) contrast(100%) blur(0px) invert(60%) */ }
span.small { font-size: 0.75rem; }
span.italic, li.italic { font-style: italic; }

/*span.subscript { vertical-align: sub; }*/

a {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}

div {}


/* Inputs ★ ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ */
select, input, button { background-repeat: no-repeat; }

select {
    background-color: var(--purple200);
    border: none;
    outline: none;
    color: white;
    padding: 4px;
}

/*select:focus { outline: 1px solid var(--iceWhite); }*/

option {}

input {
    background-color: var(--purple200);
}

input[type=text] {
    color: white;
    font-family: Roboto Medium;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    padding: 8px 12px;
}

input[type=text]:focus {
/*    outline: 2px solid var(--purple700);*/
    outline: none;
    border: none;
}

input[type=text]:disabled {}

input[type=checkbox] {
    appearance: none;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    background-position: center;
    background-size: auto 100%;
}

button {
    border: none;
    cursor: pointer;
    color: white;
    background-color: var(--purple500);
}

button:hover {
    color: var(--purple200);
    outline: 2px solid var(--purple700);
}


/* Lists ★ ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ */
ul {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

ul.left { align-items: start; }
ul.center { align-items: center; }
ul.right { align-items: end; }

li {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    line-height: inherit;
    white-space: nowrap;
    /*overflow: hidden;*/
    text-overflow: ellipsis;
}

li.center { align-self: center; }

li.break { margin-bottom: auto; }
li.half-break { margin-bottom: 0.5em; }

li.strong, td.strong { font-family: Roboto Bold; }
li.thin { font-family: Roboto Light; }
li.indent { margin-left: 0.5em; }

*.legendary { color: #ff8000; }
*.epic      { color: #ba67f2; }
*.rare      { color: #0070dd; }
*.boosted   { color: #ff5f5f; }



/* Tables ★ ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ */
table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
}

table.bevel img { margin: 0 auto; }

th, td {
    padding: 0px;
}

th {
    font-family: Roboto Bold;
    color: white;
    background-color: var(--purple200);
}

tr.title > th {
    text-align: left;
    padding-left: 1rem;
    border-bottom: 1px solid var(--purple300);
}

td {
    background-color: var(--purple300);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.default td { border-top: 1px solid var(--purple100); }
table.alternate tr:nth-child(odd) > td { background-color: var(--purple400); }

/* Stylized Table */
/* *:has(> table.bevel) {padding: 0px 8px 8px 8px;} ★ ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ */

table.bevel td { background-color: transparent; }
table.bevel tr:nth-child(odd) { background-color: var(--purple400); } /* alternating background color */

table.bevel tr:nth-child(odd) > td:first-of-type { border-radius: 2px 0px 0px 2px; } /* border radius ➜ row */
table.bevel tr:nth-child(odd) > td:last-of-type { border-radius: 0px 2px 2px 0px; }

table.bevel img, table.bevel .winrate-bar { border-radius: 2px; }





.shadow {
    text-shadow:
    -1.5px -1.5px 0.1em black,
    1.5px -1.5px 0.1em black,
    -1.5px 1.5px 0.1em black,
    1.5px 1.5px 0.1em black;
}

.shadow-light {
    text-shadow:
    -1px -1px 0.05em black,
    1px -1px 0.05em black,
    -1px 1px 0.05em black,
    1px 1px 0.05em black;
}



/* Navigation Bar ★ ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ */
#navigation-bar {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 8px;
  background-color: var(--purple300);
}

#navigation-bar img { height: 100%; }

#navigation-bar > a {
    font: small-caps 16px Montserrat Bold;
    position: relative;
    padding: 8px 16px;
    color: white;
}

#navigation-bar > a:hover { color: #989898; }

#navigation-bar > a:first-of-type {
    height: 90%;
    margin-left: 8px;
    margin-right: auto;
    padding: 0px;
}

#navigation-bar > a ~ a:not(:nth-child(2)) {
    border-left: 1px solid #484848;
}



/* Row Elements ★ ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ */
.winrate-bar {
    height: 50%;
    display: flex;
    align-items: center;
    border-radius: 2px;
    overflow: hidden;
    font-family: Roboto Medium;
    color: #d8d8d8;
    background-color: var(--loss-red100);
}

.winrate-bar > div {
    width: 35%;
    height: 100%;
    display: inherit;
    align-items: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding-left: 0.7em;
    background-color: var(--win-blue100);
}

.winrate-bar > span {
    margin: 0px 0.7em 0px auto;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}


/* Flex Elements ★ ───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── ★ */
.grid-row-container { display: grid; }

.grid-container { display: grid; }

.grid-container > img { width: 100%; }


.h-container {
    display: flex;
    align-items: center;
}

.v-container {
    display: flex;
    flex-direction: column;
}


.v-flip { transform: scaleY(-1); }

.h-flip { transform: scaleX(-1); }

.dd-center {
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
}



/* Variables */
:root {
    --purple100: #19171f;
    --purple200: #23202e;
    --purple300: #2d283e;
    --purple400: #363048;
    --purple500: #413c57;
    --purple600: #4e4765;
    --purple700: #564f70;

    --iceWhite: #d0d7e1;

    --text100: #ebf3ff;
    --text200: #dee5f1;
    --text300: #cad1dd;
    --text400: #b5bac5;
    --text500: #9ba0aa;
    --text600: #81848f;
    --text700: #676972;
    --text800: #4e4f58;
    --text900: #393841;

    --win-blue100: #5383e8;
    --win-blue200: #28344e;
    --loss-red100: #e84057;
    --loss-red200: #59343b;
    --remake-grey100: #9e9eb1;
    --remake-grey200: #282830;

    --img-bg-blue: rgba(83, 131, 232, 0.3); 
    --img-bg-red: rgba(232, 64, 87, 0.3);
    --img-bg-remake: rgba(158, 158, 177, 0.3);


    --font-thin: 100;
    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;
    --font-black: 900;

    /* HP */
    --ally100: #188ac6;
    --ally200: #39a6ef;
    --ally300: #63c3f7;
    --enemy100: #9a261b;
    --enemy200: #aa372c;
    --enemy300: #d1685d;
}


/* Montserrat */
@font-face { font-family: Montserrat Light;             src: url(assets/fonts/Montserrat-Light.ttf); }
@font-face { font-family: Montserrat;                   src: url(assets/fonts/Montserrat-Regular.ttf); }
@font-face { font-family: Montserrat Medium;            src: url(assets/fonts/Montserrat-Medium.ttf); }
@font-face { font-family: Montserrat Semi Bold;         src: url(assets/fonts/Montserrat-SemiBold.ttf); }
@font-face { font-family: Montserrat Bold;              src: url(assets/fonts/Montserrat-Bold.ttf); }
@font-face { font-family: Montserrat Extra Bold;        src: url(assets/fonts/Montserrat-ExtraBold.ttf); }

/* Roboto */
@font-face { font-family: Roboto Thin;                  src: url(assets/fonts/Roboto-Thin.ttf); }
@font-face { font-family: Roboto Light;                 src: url(assets/fonts/Roboto-Light.ttf); }
@font-face { font-family: Roboto;                       src: url(assets/fonts/Roboto-Regular.ttf); }
@font-face { font-family: Roboto Medium;                src: url(assets/fonts/Roboto-Medium.ttf); }
@font-face { font-family: Roboto Bold;                  src: url(assets/fonts/Roboto-Bold.ttf); }
@font-face { font-family: Roboto Black;                 src: url(assets/fonts/Roboto-Black.ttf); }

/* Roboto Condensed */
@font-face { font-family: Roboto Condensed Thin;        src: url(assets/fonts/RobotoCondensed-Thin.ttf); }
@font-face { font-family: Roboto Condensed Light;       src: url(assets/fonts/RobotoCondensed-Light.ttf); }
@font-face { font-family: Roboto Condensed;             src: url(assets/fonts/RobotoCondensed-Regular.ttf); }
@font-face { font-family: Roboto Condensed Medium;      src: url(assets/fonts/RobotoCondensed-Medium.ttf); }
@font-face { font-family: Roboto Condensed Bold;        src: url(assets/fonts/RobotoCondensed-Bold.ttf); }
@font-face { font-family: Roboto Condensed Black;       src: url(assets/fonts/RobotoCondensed-Black.ttf); }


@font-face {
    font-family: Roboto Flex;
    font-weight: 100 1000;
    font-stretch: 25% 151%;
    font-variation-settings:
        "opsz" 8,
        /*"wght" 400,*/
        /*"wdth" 100,*/
        "GRAD" 0,
        "slnt" 0,
        "XTRA" 445,
        "XOPQ" 89,
        "YOPQ" 79,
        "YTAS" 750,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 514,
        "YTUC" 712;
    src: url(assets/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf);
}

@font-face {
    font-family: Roboto Flex Condensed;
    font-weight: 100 1000;
    font-stretch: 80%;
    font-variation-settings:
        "opsz" 30,
        /*"wght" 400,*/
        /*"wdth" 80,*/
        "GRAD" 70,
        "slnt" 0,
        "XTRA" 460,
        "XOPQ" 100,
        "YOPQ" 79,
        "YTAS" 770,
        "YTDE" -203,
        "YTFI" 738,
        "YTLC" 560,
        "YTUC" 712;
    src: url(assets/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf);
}